.recording-overlay {
  height: 36px;
  width: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  background: #000000;
  border-radius: 18px;
  border: 1px solid #3a3a3a;
  opacity: 0;
  transition: opacity 300ms ease-out;
  box-sizing: border-box;
}

.waveform-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;

  canvas {
    width:  130px !important;
  }
}

.recording-overlay.fade-in {
  opacity: 1;
}
